@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');
:root{
    --Soft-Blue: hsl(231, 69%, 60%);
    --Soft-Red: hsl(0, 94%, 66%);
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);
}

*{
    font-family: 'Rubik', sans-serif;
}

.d-flex{
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.opcionNav{
    text-decoration: none;
    font-weight: 400;
    text-decoration: none;
    color: black;
    font-size: 10px;
    
}
.opcionNav:hover{
    color: red;
    
}
.btn-outline-success{
    background-color: red;
    color: white;
    border-color: red;
    box-shadow: black;
    font-weight: bold;
    width: 29%;

}
.btn-outline-success:hover{
    background-color: white;
    border-color: red;
    color: red;
}
.sec1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.sec1Art{
display: flex;
flex-direction: column;
margin-top: 5%;
width: 50%;
}
    .sec1Art div h1{
        font-weight: bold;
        color: var(--Very-Dark-Blue);
        margin-bottom: 5%;
    }
    .sec1Art div p{
        color: var(--Grayish-Blue);
        margin-bottom: 6%;
    }
    .sec1Art div button{
        box-shadow: var(--Grayish-Blue);
        width: 30%;
        height: 52px;
        font-size: 13px;
        margin-left: 0.5%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
            .sec1Art div button.btn3{
                background-color: var(--Soft-Blue);
                color: white;
                border-color: var(--Soft-Blue);
            }
            .sec1Art div button.btn3:hover{
                background-color: white;
                border-color: var(--Soft-Blue);
                color: var(--Soft-Blue);
            }
            .sec1Art div button.btn4{
                background-color: rgba(247, 247, 247, 1);
                color: var(--Very-Dark-Blue);
                border-color: rgba(247, 247, 247, 1);
            }
            .sec1Art div button.btn4:hover{
                background-color: white;
                border-color: var(--Very-Dark-Blue);
                color: var(--Very-Dark-Blue);
            }    
    .pantalla1{
        position: absolute;
        z-index: 1;
        width: 30em;
        height: 20em;
    }
    .semi-circulo-1 {
        width: 350px;
        height: 200px;
        border: 1px solid var(--Soft-Blue);
        margin: 30% 10% 0% 30%;
        background: var(--Soft-Blue);
        border-radius: 100px 0px 0px 100px;
        position: relative;
        z-index: 0;
        border-color: var(--);
        -webkit-border-radius: 100px 0px 0px 100px;
        -moz-border-radius: 100px 0px 0px 100px;
        -ms-border-radius: 100px 0px 0px 100px;
        -o-border-radius: 100px 0px 0px 100px;
}

.sec2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
}
    .sec2 div h3{
        font-weight: bold;
        margin-bottom: 3%;
    }
    .sec2 div p{
        padding: 0% 22.5% 3% 22.5%;
    }
    .sec2 div button.submenu{
        margin-right: -0.5%;
        justify-content: center;
        text-decoration:none;
        border-bottom-width: 1px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: white;
        background-color: white;
        position:relative;
        width: 20%;
        
    }

    .sec2 div button.submenu::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, var(--Soft-Red), var(--Soft-Red), var(--Soft-Red));
        z-index: 1;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.5s ease-in-out;
        
}
    
    .sec2 div button.submenu:hover::before {
        transform-origin: center;
        transform: scaleX(1);
        transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
    }

.sec3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    }
    
    .sec3Art{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 50%;
    }
        .sec3Art div h2{
            font-weight: bold;
            color: var(--Very-Dark-Blue);
            margin-bottom: 5%;
            margin-top: 5%;
        }
        .sec3Art div p{
            color: var(--Grayish-Blue);
            margin-bottom: 6%;
        }
                        
        .pantalla2{
            position: absolute;
            z-index: 1;
            width: 24em;
            height: 19em;
            margin-left: 5%;
        }
        .semi-circulo-2 {
            width: 350px;
            height: 200px;
            border: 1px solid var(--Soft-Blue);
            margin: 30% 0% 0% -15%;
            background: var(--Soft-Blue);
            border-radius: 0px 100px 100px 0px;
            position: relative;
            z-index: 0;
            border-color: var(--);
            -webkit-border-radius: 0px 100px 100px 0px;
            -moz-border-radius: 0px 100px 100px 0px;
            -ms-border-radius: 0px 100px 100px 0px;
            -o-border-radius: 0px 100px 100px 0px;
}
.sec4{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        margin-top: 5%;
    }
    .sec4 div h3{
        font-weight: bold;
        margin-bottom: 3%;
    }
    .sec4 div p{
        padding: 0% 22.5% 3% 22.5%;
        
    }
        .sec4 div h6{
            font-weight: bold;

        }
        .version{
            font-size: 12px;
            padding: 0% !important;
        }

.contenedor{
    display: flex;
    justify-content:center;
}        
.navegadores{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
   

}
.arttam{
    width: 30%
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* #card1{
    
}
#card2{
    
}
#card3{
    
} */

.imgLogo{
    
    margin-top: 10%;
    margin-bottom: 10%;
    width: 33%;
    height: 25%;
    
}

.btn-primary{
    font-size: 11px;
}
.btn-primary:hover{
    background-color: white;
    border-color: #0d6efd;
    color: #0d6efd;
}
.card-body{
    background-image: linear-gradient(to right, grey 0%, rgba(255, 255, 255, 0) 40%);
    background-position: top;
    background-size: 10px 1px;
    background-repeat: repeat-x;
}

.sec5{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
}
.sec5 div h3{
    font-weight: bold;
    margin-bottom: 3%;
}
.sec5 div p{
    padding: 0% 24% 3% 24%;
    
}

.artAcord{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorAcord{
    width: 50%;
    text-align: left;
    
}
#btnAcord{
    margin-top: 5%;
}

.secFoot1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Soft-Blue);
    color:white;
    margin-top: 10%;
}

footer section p{
    margin-top: 5%;
    font-size: 10px;
}

footer section h3{
    text-align: center;
    margin-top: 2%;
}

.correoEnvio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin-top:2%;
    margin-bottom: 8%;
}
.needs-validation{
    margin-right: 2%;
    height: fit-content;
    width: 38%;
}

.form-control{
    font-size: small !important;
    
}

#contact{
    max-width: fit-content;
    height: fit-content;
    margin-top: auto;
    font-size: small;
    
}

.btn-outline-success{
    background-color: red;
    color: white;
    border-color: red;
    box-shadow: black;
    font-weight: bold;
    width: 29%;

}

.logoFoot{
    position: absolute;
    z-index: 1;
    
}

.f-flex{
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    position: relative;
    
}
.barFoot{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
}
.f1{
width: 20%;
padding-left: 30px;
}
footer div span{
    color: white;
    font-weight: bold;
    margin-left: 35px;
    z-index: 2;
    position: relative;
}
.f2{
    width: 60%;
    padding-left: 30px;
}
.opcionFoot{
    text-decoration: none;
    
    text-decoration: none;
    color: white;
    font-size: 10px;
    
}
.opcionFoot:hover{
    color: red;
    
}

.f3{
    width: 20%;
}